<div class="container container--team">
  <h2 class="subtitle">Наша команда</h2>
  <ul class="team__list">
    {{#each this}}
    <li class="team__item">
      <div class="team__thumb">
        <img srcset={{srcset}} src={{src}} alt={{description}} class="team__photo" />
      </div>
      <div class="content-wrapper">
        <h3 class="content-wrapper__name">{{name}}</h3>
        <p class="content-wrapper__occupation">{{occupation}}</p>
        <ul class="social">

          {{#each this.social}}
          <li class="social__item">
            <a href="" class="social__link link">
              <svg class="social__icon icon" width="20" height="20">
                <use href={{href}}></use>
              </svg>
            </a>
          </li>
          {{/each}}
          
        </ul>
      </div>
    </li>

    {{/each}}    
  </ul>
</div>